#contents {
  width: 100%;
  height: 100vh;
  background: conic-gradient(
    from 60deg at 50% 50%,
    #ffffff 0deg,
    #ffd9de 64.8deg,
    #cfe3ff 163.1deg,
    #ffffff 246.39deg,
    #ffffff 360deg
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
}

#formLogo {
  flex-grow: 1;
  flex-basis: auto;

  text-align: center;

  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;

  display: flex;
  align-items: center;
}

#form {
  flex-basis: 70%;
  flex-grow: 0;

  width: 60%;
  padding: 60px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0px 0px;
}

#formExplain {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #71747b;
}

#formContent {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.formItem {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.formItemTitle {
  font-size: 23px;
}

#readyButton {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;

  border-radius: 50px;
  background-color: black;
  color: #fbfbfb;

  width: 150px;
  height: 40px;
}

#readyButton:hover {
  cursor: pointer;
  opacity: 80%;
}
