#macImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 58%;
  object-fit: contain;
}

.clotherDesign {
  position: absolute;
  width: 65%;
  object-fit: contain;
}

.clotherDesign#top {
  left: 10px;
  top: 30px;
}

.clotherDesign#bottom {
  right: 10px;
  bottom: 10%;
}

#gotoIntroButton {
  position: absolute;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 60px;
  border-radius: 50px;
  background-color: black;
  color: #fbfbfb;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#gotoIntroButton:hover {
  cursor: pointer;
  opacity: 80%;
}
