#navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#contents {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

#weather {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: blue;
}

#codimap {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: red;
}

#codishop {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: green;
}
